body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: linear-gradient(180deg, #000428, #004e92); /* Fondo nocturno */
    color: white;
}

.container {
    padding: 20px;
}

.moon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(circle, #ffffff 60%, #bbbbbb 100%);
    margin: 20px auto;
    box-shadow: 0 0 50px #fff; /* Efecto de brillo */
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
}
